@import "~react-vis/dist/style.css";
.paper {
  padding: 10px 10px 10px 10px;
  text-align: "center";
  background-color: "white";
}

.apHeader {
  display: flex;
  h1 {
    flex: 3;
  }
  span {
    flex: 8;
  }
  button {
    flex: 1;
  }
}

.reporthead {
  font-size: 2.2rem;
}

.tabResize {
  min-width: 50;
}

span .PrivateValueLabel-circle-8 {
  font-size: 1.3rem;
}

.checkedIcon {
  background-color: "#137cbd";
}

.idField {
  flex: 9;
  float: left;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  padding: 10px 5px;
  margin: 10px auto;
  border: 1px solid #9e9e9e;
  outline: none;
}
.label {
  flex: 1;
  align-self: center;
  text-align: left;
}

.emptyPowerCard {
  display: flex;
  justify-content: center;
}
